<h1>Welcome to Testing123, <%= @user.username %>!</h1>
<p>
  You have successfully signed up to Testing123
  your username is: <%= @user.username %>.<br>
</p>
<p>You can validate your email here: <a href="http://localhost:3000/users/<%= @user.id %>/validate/">Link</a> </p>
<p>Thanks for joining and have a great day!</p>
