<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Email Validated</title>
    <style>
      p {
        text-align: center;
      }
    </style>
  </head>
  <body>

    <p>Welcome <%= @user.username %>, your email has been validated!</p>

    <p>You may close this window.</p>

  </body>
</html>
